/mpapt/build/
/kotlin-plugin/build/
/gradle-plugin/build/
/example/build/
/.idea/
/annotations/build/
/kotlin-compiler-native-plugin/build/
/.gradle/
/build/
/mpapt-runtime/build/*
/kotlin-plugin-shared/build/
/buildSrc/build/
/buildSrc/.gradle/
